/* Font declarations */
@font-face {
    font-family: 'PP Neue Bit';
    src: url('../fonts/PPNeueBit-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PP Mondwest';
    src: url('../fonts/PPMondwest-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* General styles */
body {
    font-family: 'PP Neue Bit', sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
    background-color: #fff;
    line-height: 1;
    font-size: 1.5rem;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-family: 'PP Mondwest', sans-serif;
    font-size: 2.5rem;
    font-weight: 700; /* Bold */
    margin: 0;
    line-height: 1.6;

}

header h2 {
    font-family: 'PP Mondwest', sans-serif;
    font-size: 1.5rem;
    font-weight: 700; /* Bold */
    margin: 10px 0;
    line-height: 1.6;

}

.intro {
    font-weight: 400; /* Regular */
    margin: 20px 0;
}

.links a {
    color: #006aff;
    text-decoration: none;
    font-weight: 400; /* Regular */
    display: block;
    margin: 10px 0;
}

.links a:hover {
    text-decoration: underline;
}
